<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}"
>
  <!-- layout Content -->
  <th:block layout:fragment="content-wrapper">
    <div class="content-wrapper">
      <link
        href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css"
        rel="stylesheet"
      />
      <script
        src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"
      ></script>
      <style>
        body {
          margin: 0;
          padding: 0;
        }
        #map {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
        }
        .bus_marker {
          background-image: url("/static/icon/bus_stop_marker.png");
          background-size: cover;
          width: 50px;
          height: 50px;
        }
        .mapboxgl-popup {
          max-width: 200px;
        }
        .mapboxgl-popup-content {
          text-align: center;
          font-family: "Open Sans", sans-serif;
          color: black;
        }
      </style>
      <div id="map"></div>
      <script>
        var long;
        var lat;
        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken =
          "pk.eyJ1IjoiamMzd3JsZDk5OSIsImEiOiJjbDRtdGV3ODEwMm9wM2ttZXpjZHRnZHFhIn0.3WMaZZTngmkKBFLQY1IgcQ"; // 계정에 있는 Public Access Token 입력

        const map = new mapboxgl.Map({
          container: "map", // container ID
          style: "mapbox://styles/mapbox/streets-v11", // style URL
          center: [126.886199, 37.476106], // starting position [lng, lat]
          zoom: 9, // starting zoom
        });

        $(function () {
          // map.loadImage("/static/icon/bus_stop_marker.png", (err, image) => {
          //   if (err) console.error(err);
          //   map.addImage("marker", image);
          // });
          if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition((position) => {
              map.flyTo({
                center: [position.coords.longitude, position.coords.latitude],
                essential: true, // this animation is considered essential with respect to prefers-reduced-motion
                zoom: 14,
              });

              fetchRoutePath(
                position.coords.longitude,
                position.coords.latitude
              );
            });
          }
        });

        function fetchRoutePath(long, lat) {
          $.ajax({
            url: "/api/rest/getStationByPos",
            data: { tmX: long, tmY: lat, radius: 1000 },
            type: "get",
            dataType: "JSON",
            success: function (r) {
              console.log(r);
              getRoutePath(r["msgBody"]["itemList"]);
            },
            error: function (e) {
              console.log(e);
            },
          });
        }

        /** 특정 버스 노선 좌표 조회 */
        function getRoutePath(data) {
          // document.getElementById("heading-num").innerHTML =
          //   data[0]["rtNm"] + "번 버스 도착정보";
          for (i = 0; i < data.length; i++) {
            var currentFeature = data[i];
            var el = document.createElement("div");
            el.className = "bus_marker";
            el.setAttribute("long", currentFeature["gpsX"]);
            el.setAttribute("lat", currentFeature["gpsY"]);

            // Create a default Marker and add it to the map.
            var marker1 = new mapboxgl.Marker(el)
              .setLngLat([currentFeature["gpsX"], currentFeature["gpsY"]])
              .setPopup(
                new mapboxgl.Popup({ offset: 25 }) // add popups
                  .setHTML("<h4>" + currentFeature["stationNm"] + "</h4>")
              )
              .addTo(map);
            // mapboxgl.addEventListener("click", (e) => {
            //   // console.log(e);
            //   console.log(e);
            // });
            console.log(currentFeature);
          }
        }
        map.on("load", function () {
          map.on("moveend", function (e) {
            console.log(e);
          });
        });
      </script>
    </div>
  </th:block>
</html>
