<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Display a map on a webpage</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // TO MAKE THE MAP APPEAR YOU MUST
      // ADD YOUR ACCESS TOKEN FROM
      // https://account.mapbox.com
      mapboxgl.accessToken =
        "pk.eyJ1IjoiamMzd3JsZDk5OSIsImEiOiJjbDRtdGV3ODEwMm9wM2ttZXpjZHRnZHFhIn0.3WMaZZTngmkKBFLQY1IgcQ"; // 계정에 있는 Public Access Token 입력

      const map = new mapboxgl.Map({
        container: "map", // container ID
        style: "mapbox://styles/mapbox/streets-v11", // style URL
        center: [126.886199, 37.476106], // starting position [lng, lat]
        zoom: 9, // starting zoom
      });
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition((position) => {
          map.flyTo({
            center: [position.coords.longitude, position.coords.latitude],
            essential: true, // this animation is considered essential with respect to prefers-reduced-motion
            zoom: 14,
          });
        });
      }
      map.on("load", function () {
        map.on("moveend", function (e) {
          console.log(e);
        });
      });
      $(function () {
        $.ajax({
          url: "/api/rest/getArrInfoByRouteAll/100100118",
          type: "get",
          data: { idArr: "test" },
          dataType: "JSON",
          success: function (r) {
            console.log(r);
            // form.submit();
            // var obj = JSON.parse(r);
            // console.log(obj.msgBody);
            getArrInfoByRouteAll(r["msgBody"]["itemList"]);
            // console.log(r["msgBody"]);
            // $.each(r["msgBody"]["itemList"], function(index, item) {
            //   console.log(item["stNm"]);
            // })
          },
          error: function (e) {
            console.log(e);
          },
        });
      });

      /** 특정 버스 노선 좌표 조회 */
      function getRoutePath(data) {
        document.getElementById("heading-num").innerHTML =
          data[0]["rtNm"] + "번 버스 도착정보";
        for (i = 0; i < data.length; i++) {
          var currentFeature = data[i];
          console.log(currentFeature);
          var prop = currentFeature.properties;
          console.log(prop);
          var listings = document.getElementById("listings");
          var listing = listings.appendChild(document.createElement("div"));
          listing.className = "item";
          listing.id = "listing-" + i;

          var link = listing.appendChild(document.createElement("a"));
          link.href = "#";
          link.className = "title";
          link.dataPosition = i;
          link.innerHTML = currentFeature["stNm"];

          var details = listing.appendChild(document.createElement("div"));
          details.innerHTML = currentFeature["arrmsg1"];
          details.innerHTML += " &middot; " + currentFeature["arrmsg2"];
        }
      }
    </script>
  </body>
</html>
