<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}"
>
  <!-- layout Content -->
  <th:block layout:fragment="content-wrapper">
    <div class="content-wrapper">
      <link rel="stylesheet" href="/static/map/map.css" />
      <div id="my_sidebar" class="my_sidebar">
        <div class="heading">
          <h1 id="heading-num"></h1>
        </div>
        <div id="listings" class="listings"></div>
      </div>
      <div id="map" class="map"></div>
      <div id="map"></div>
      <script src="/static/map/map.js"></script>
      <script>
        $(function () {
          getLocation(fetchStationByPos);
        });

        map.on("mouseup", (e) => {
          if (map.isMoving()) {
            console.log(e.lngLat);
            removeMarker();
            fetchStationByPos(e.lngLat.lng, e.lngLat.lat);
          }
        });
      </script>
    </div>
  </th:block>
</html>
